@import '../../theme.css';

.AppBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: bottom;
    padding: 5px;
    color: #fff;
    background-color: var(--primary);
    height: 50px;
}

.nav-button {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #512DA8;
}