.SongContainer {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 100px 1fr;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    max-height: 100px;
    margin: 5px 0px;
}

.song-details {
    padding: 10px;
    text-align: left
}

.track-name {
    margin: 5px 5px 15px 5px;
}

.track-details {
    margin: 5px 0px;
    font-size: 12px;
}

.song-icon {
    margin-right: 5px;
}